/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
**/*.cache
**/.phpunit.cache
.phpunit.cache/
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
/database/migrations/old
/app/Http/Controllers/old
/app/Models/old

